
/* game */
#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

/* buttons container */
#flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-height: 1em;
}
   

#game {
  display: flex;
  gap: 1rem;
}




/* Heading styling */
.stage-heading {
  font-size: 2em;
  margin-bottom: 0.5em;
}

/* Paragraph text styling */
.stage-text {
  max-width: 600px;
  margin: 0.5em auto;
  line-height: 1.4;
}


/* Image styling */
.stage-image {
  width: 300px;
  height: auto;
  border-radius: 8px; 
}




/* Button styling 
.stage-button {
  margin: 0.5em;
  padding: 0.75em 1.5em;
  border: none;
  border-radius: 4px;
  background-color: #5224dc;
  color: white;
  cursor: pointer;
  transition: background 0.2s ease;
}

.stage-button:hover {
  background-color: #0b73be;
}

*/
